* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header {
    background-color: #001f61;
    color: rgb(0, 217, 255);
    padding: 2rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
a {
    color: rgb(0, 217, 255);
}
.scroll {
    height: 200px; 
    overflow-y: scroll;
}
.imageLayout {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.imageLayoutItem p {
    text-align: center;
    font-size: 35px;
}

.imageLayoutItem img {
    width: 100%;
}
.book {
    color: black;
}
footer {
    background-color: #001f61;
    color: rgb(0, 217, 255);
    padding: 2rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}