* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header {
    background-color: #001f61;
    color: rgb(0, 217, 255);
    padding: 2rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
a {
    color: rgb(0, 217, 255);
}
footer {
    background-color: #001f61;
    color: rgb(0, 217, 255);
    padding: 2rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}